[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
channels = "*"
channels-redis = "*"
django-crispy-forms = "*"
mysqlclient = "*"
gunicorn = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.8"
